# Editor / IDE
.vscode/
.idea/

# Sistema operacional
Thumbs.db
.DS_Store

# Backups temporários
*.bak

# Dependências e builds (futuro)
node_modules/
dist/

# Vitest
.vitest/
coverage/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*